.Fondo {
    background: #000;
    position: relative;
    overflow-x: hidden;
  }
  
  /* Glow principal */
  .Fondo::before {
    content: "";
    position: fixed;
    width: 600px;
    height: 600px;
    top: 20%;
    left: 30%;
    background: radial-gradient(circle, #dfdddd, transparent 50%);
    filter: blur(120px);
    animation: moveGlow 8s ease-in-out infinite alternate;
    z-index: -1;
  }
  
  /* Glow secundario */
  .Fondo::after {
    content: "";
    position: fixed;
    width: 500px;
    height: 500px;
    top: 60%;
    left: 60%;
    background: radial-gradient(circle, #8a8a8a, transparent 50%);
    filter: blur(120px);
    animation: moveGlow2 10s ease-in-out infinite alternate;
    z-index: -1;
  }
  
  /* Animaciones */
  @keyframes moveGlow {
    from {
      transform: translate(-50px, -50px);
    }
    to {
      transform: translate(50px, 50px);
    }
  }
  
  @keyframes moveGlow2 {
    from {
      transform: translate(50px, -50px);
    }
    to {
      transform: translate(-50px, 50px);
    }
  }
  /* Fin Fondo */

main{
    display: flex;
    justify-content:space-between;
    padding: 50px;
}
.login {
    display: flex;
    color: #cccccc8d;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 30%;
    border-radius: 10%;
    margin-right: 5%;
    font-family: "Fira Sans", sans-serif;
    background-color: rgba(255, 255, 255, 0.030);
}

.login form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 90%;
    height: 90%;
    font-size: 1rem;
    text-align: center;
}


.Email{
    display: flex;
    flex-direction: column;
}

.Contraseña{
    display: flex;
    flex-direction: column;
}

.login input{
    height: 30px;
    width: 200px;
    border-radius: 15px;
    background-color: #cccccc1b;
    border: solid 3px #cccccc36;
    transition: 0.8s;
}

button {
    height: 30px;
    width: 150px;
    color: #cccccc8d;
    border-radius: 15px;
    background-color: #cccccc59;
    border: solid 3px #cccccc36;
    transition: 0.8s;
}button:hover{
    color: #cccccc;
    box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, 0.319);
}

.Regístrate{
    color: #cccccc8d;
}

video{
    width: auto;
    height: 100%;
    border-radius: 15%;
}

