@import url(./components/poster.css); /* solo tiene modificado las dimensiones de las img */

/* Paleta */
:root {
  --color-fondo: #000000;;
  --color-superficie: #1f1f1f;
  --color-primario: #ff4d4d;
  --color-secundario: #ffcc00;
  --color-texto: #ffffff;
  --color-texto-suave: #cccccc;
}

/* Reset recomendado por defecto */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


a {
  font-family: "Fira Sans", sans-serif;
}

