/* @import url(./components/poster.css); */
@import url(./components/poster.css); /* solo tiene modificado las dimensiones de las img */

/* Paleta */
:root {
  --color-fondo: #000000;;
  --color-superficie: #1f1f1f;
  --color-primario: #ff4d4d;
  --color-secundario: #ffcc00;
  --color-texto: #ffffff;
  --color-texto-suave: #cccccc;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--color-texto);
  font-family: "Fira Sans", sans-serif;
}

 /* Fondo Original */
body {
    background: #000;
    position: relative;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
  }

   /* Footer Abajo */
  main {
    flex: 1;
  }

  body::-webkit-scrollbar {
    display: none;
  }
  
  /* Glow principal */
  body::before {
    content: "";
    position: fixed;
    width: 600px;
    height: 600px;
    top: 20%;
    left: 30%;
    background: radial-gradient(circle, #ffcc00, transparent 50%);
    filter: blur(120px);
    animation: moveGlow 8s ease-in-out infinite alternate;
    z-index: -1;
  }
  
  /* Glow secundario */
  body::after {
    content: "";
    position: fixed;
    width: 500px;
    height: 500px;
    top: 60%;
    left: 60%;
    background: radial-gradient(circle, #ff4d4d, transparent 50%);
    filter: blur(120px);
    animation: moveGlow2 10s ease-in-out infinite alternate;
    z-index: -1;
  }
  
  /* Animaciones */
  @keyframes moveGlow {
    from {
      transform: translate(-50px, -50px);
    }
    to {
      transform: translate(50px, 50px);
    }
  }
  
  @keyframes moveGlow2 {
    from {
      transform: translate(50px, -50px);
    }
    to {
      transform: translate(-50px, 50px);
    }
  }
  /* Fin Fondo */

/* Header */
  .header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
  }
  /* Fin Header */

  /* Nav Logo */
  .nav-logo img {
    max-width: 80%;
    height: auto;
  }
  
  /* Nav Central */
  .nav{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 40px;
  }

  .nav i {
    margin-right: 5px;
  }

  .nav a {
    position: relative;
    text-decoration: none;
    color: #ccc;
    font-size: 1rem;
    padding: 5px 10px;
    border-radius: 999px;
    overflow: hidden;
    transition: color 0.3s ease;
    z-index: 1;
  }
  
  .nav a:hover {
    color: white;
  }

  /* Efecto relleno desde abajo */
  .nav a::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #ff4d4d, #ffcc00);
    transform: translateY(100%);
    transition: transform 0.3s ease;
    z-index: -1;
  }
  
  .nav a:hover::before {
    transform: translateY(0);
  }
  
  .nav a:hover {
    color: #fff;
  }
  
  /* ACTIVO */
  .nav a.active {
    color: #fff;
  }
  /* Color remarcado sobre la pagina que se encuentra el usuario 
     IMPORTANTE: Modificar el HTML, colocando la clase "active" en el enlace correspondiente a la página actual
  */
  .nav a.active::before {
    transform: translateY(0);
  }
 
  /* Nav Exit */
  .nav-exit {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    overflow: hidden;
    background: transparent;
    transition: all 0.4s ease;
  }
  
  .exit-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }
  
  .exit-text {
    position: absolute;
    opacity: 0;
    transform: translateX(20px);
    white-space: nowrap;
    font-size: 0.9rem;
    color: white;
    font-weight: bold;
    transition: all 0.4s ease;
  }

  .nav-exit:hover {
    width: 160px;
    background: linear-gradient(90deg, #ff4d4d, #ffcc00);
  }

  .nav-exit:hover .exit-icon {
    transform: translateX(-20px);
    opacity: 0;
  }
  
  .nav-exit:hover .exit-text {
    opacity: 1;
    transform: translateX(0);
  }

  /* footer*/

  .footer {
  width: 100%;
  padding: 50px 20px 20px;
  background-color: transparent;
  border-top: 1px solid rgba(255, 255, 255, 0.05);
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  color: white;
  display: grid;
  grid-template-columns: 280px 180px 200px;
  justify-content: space-between;
  align-items: start;
  column-gap: 80px;
  row-gap: 0;
  box-sizing: border-box;
}

/* Footer Izquierda */
.footer-izquierda p {
  padding-left: 15px;
}

.footer-izquierda img {
  margin-left: 0;
}

#descripcion-footer {
  color: rgba(255, 255, 255, 0.65);
  font-size: 13px;
  line-height: 1.5;
}

.footer-centro p,
.footer-derecha p {
  color: rgba(255, 255, 255, 0.834);
  font-weight: bold;
  font-size: 15px;
  margin: 0 0 5px 0;
  padding-top: 0;
}

.nav-explorar, .nav-cuenta {
  display: grid;
  color: rgba(255, 255, 255, 0.65);
  font-weight: normal;
  font-size: 13px;
  gap: 15px;
  padding-top: 20px;
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.nav-explorar a {
  text-decoration: none;
}

.nav-explorar a:hover {
  color: #ffcc00;
  cursor: pointer;
}

.nav-cuenta a {
  text-decoration: none;
}

.nav-cuenta a:hover {
  color: #ff4d4d;
  cursor: pointer;
}

.footer-bottom {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  margin-top: 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.08);
  color: rgba(255, 255, 255, 0.4);
  font-size: 12px;
}